@charset "UTF-8";
/*第一屏*/
#fullpage{
position: relative;
}
.particles{
    height: 100%;
    background-color: #000000;
}

.time{
    position: absolute;
    top: 2px;
    right: 200px;
}
.time .text{
    font-size:20px;
}
.time  span.span-time {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #ec3639;
    font-size: 20px;
    color: #fff;
    line-height: 37px;
    text-align: center;
    font-weight: 900;
    text-align: center;
    border-radius: 3px;
}
.time  span.span-point {
    font-size: 20px;
    font-weight: 900;
    color:  #fff;
}
.m_1{
    background: url("../images/s1_bg5.jpg") center center no-repeat;
    position: relative;
    overflow: hidden;
}
.m_logo{
    position: absolute;
    left: 69px;
    top: 50px;
    cursor: pointer;
}
.m_logo1{
    position: absolute;
    top: 60px;
    right: 80px;
}
.m_logo2{
    position: absolute;
    left: 176px;
    bottom: 99px;
}
.m_zuozhe{
    color: white;
    position: absolute;
    bottom: 100px;
    right: 110px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    /*overflow: hidden;*/
    border-radius: 20px;
    border:2px solid #ffffff;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    font-family: Tahoma, Geneva, sans-serif;
    background-color: rgba(0,0,0,0.3);
}
/*.m_zuozhe:hover{*/
/*width: 182px;*/
/*}*/
.m_i{
    display: block;
    /*height: 36px;*/
    /*width: 36px;*/

    /*border:2px solid #ffffff;*/
    /*border-radius: 20px;*/
    /*text-align: center;*/
    /*font-size: 20px;*/
    /*color: white;*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 0px;*/
}
.m_link{
    display: block;
    height: 34px;
    padding-left:20px;
    border-radius: 20px;
    line-height: 34px;
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    font-size: 16px;
    z-index: 2;
    display: none;
}
.ys{
    display: block;
}
.yc{
    display: none;
}
.m_a,.m_a1{
    color: white;
    font-size: 16px;
}
.m_arrows{
    background-image: url("../images/sprite.png");
    position: absolute;
    background-position: -468px 0px;
    bottom: 30px;
    margin:0 auto;
    left: 0px;
    right: 0px;
    cursor: pointer;
    width: 34px;
    height: 36px;
    background-repeat: no-repeat;
}
.u-guideTop{
    -webkit-animation: guideTop 1.5s infinite;
}

@-webkit-keyframes guideTop {
    0% {
        -webkit-transform: translateY(-42px);
        opacity: 0;
    }
    60% {
        -webkit-transform: translateY(-12px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(0px);
        opacity: 0;
    }
}
/*第二屏*/
.s2{
    width: 100%;
    position: relative;
    overflow: hidden;

}
.s2_person{
    display: block;
    width: 33.3%;
    height: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    color: #fff;
    background-size: cover;
    cursor: pointer;
    /*background-size的cover特定值会保持图像本身的宽高比例，
    将图片缩放到正好完全覆盖定义背景的区域。*/
}
.slideUp{
    position: absolute;
    left: 0;
    bottom: 0px;
    font-size: 16px;
    padding: 0 30px 30px 30px;
    /*display: none;*/
    opacity:0;
    background: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8)) ;
    text-shadow: 1px 1px 4px #000;
}
.s2_name{
    font-size: 30px;
}
.s2_identity{
    padding-bottom: 20px;
}
.s2_name111{
    /*display: block;*/
    position: absolute;
    left: 0;
    bottom: 30px;
    padding: 0 60px 60px 30px;
    text-shadow: 1px 1px 4px #000;

}
#hai{
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 20px;
}

/*--第二部分--*/

/*图片设置*/
.s3_bg1{
    background-size: cover;
}
.s3_bg1{
    position: relative;
}
/*跳转的三个按钮*/
.menu{
    position: absolute;
    z-index: 10;
    top: 50px;
    right: 50px;
    list-style: none;
}
.menu .menuPerson{
    border: 4px solid #999999;
    border-radius: 50px;
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
}
.menu .menuPerson .menuPersonImg{
    width: 60px;
    height: 60px;
    border-radius: 50px;

}
/*字体设置区域*/
.s3_bg1 .s3_block{
    width: 100%;
    height: 250px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,8))
}
.s3_block p,span{
    color: #ffffff;
}
.s3_block .s3_title .s3_placeName{
    font-size: 35px;
    display: inline-block;
    padding-left: 120px;
    margin-top: 50px;
    line-height: 80px;
    text-shadow:1px 1px 4px #000 ;

}
.s3_block .s3_brief span{

    height: 70px;
    font-size: 18px;
    display: inline-block;
    padding: 0 120px;
    text-indent: 2em;
    letter-spacing:1px;
    text-shadow:1px 1px 4px #000 ;
}
.s3_block .s3_page span{
    font-size: 22px;
    float: right;
    padding-right: 100px;
    text-shadow:1px 1px 4px #000 ;
}

/*第四屏*/
.s4_bg1{
    background-size: cover;
}
.s4_bg1{
    position: relative;
}
/*跳转的三个按钮*/
.menu{
    list-style: none;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 10;
}
.menu .menuPerson{
    width: 60px;
    height: 60px;
    border: 3px solid #ddd;
    border-radius: 50px;
    display: inline-block;
    margin-left: 20px;
}
.menu .menuPerson .menuPersonImg{
    width: 60px;
    height: 60px;
    border-radius: 50px;

}
/*字体设置区域*/
.s4_bg1 .s4_block{
    width: 100%;
    height: 250px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,8))
}
.s4_block p,span{
    color: #ffffff;
}
.s4_block .s4_title .s4_placeName{
    font-size: 35px;
    display: inline-block;
    padding-left: 120px;
    margin-top: 50px;
    line-height: 80px;
    text-shadow:1px 1px 4px #000 ;

}
.s4_block .s4_brief span{
    width: 1235px;
    height: 70px;
    font-size: 16px;
    display: inline-block;
    padding: 0 60px;
    /*text-indent: 2em;*/
    letter-spacing:1px;
    text-shadow:1px 1px 4px #000 ;
}
.s4_block .s4_page span{
    font-size: 22px;
    float: right;
    padding-right: 100px;
    text-shadow:1px 1px 4px #000 ;
}

/*第五屏*/
.slide{
    position: relative;
}
.s5_placeName,.s5_link,.s5_desc,.s5_page{
    position: absolute;
    color: #fff;

}
.s5_placeName{
    font-size: 30px;
    bottom: 180px;
    left: 100px;
}
.s5_link{
    bottom: 190px;
    left: 290px;
}
.s5_desc{
    bottom: 90px;
    left: 100px;
    right: 100px;
    font-size: 18px;

}
.s5_page{
    bottom: 60px;
    right: 60px;
    font-size: 22px;
}
.s5_link3,.s5_link7,.s5_link10{
    position: absolute;
    left: 380px;
    bottom: 190px;
}
/*右上角小图*/
.writer{
    position: fixed;
    top: 50px;
    right: 80px;
    z-index: 10;

}
.writer li{
    float: left;
    border:3px solid #DDDDDD;
    border-radius: 50px;
    margin-right: 5px;
    opacity: 0;
}
.writer .z1,.writer .z2,.writer .z3{
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.box{
    position: relative;
}

/*第六屏*/
.s6{
    background: url("../images/s4_bg.jpg") center center no-repeat;
    background-size: cover;
    position: relative;
    height: 630px;
}
.s6_content{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 960px;
    height: 588px;
}
.s6_title{
    width: 100%;
    text-align: center;
}
.s6_titleImg1{
    margin-top: 6px;
    width: 120px;
    height: 30px;
    display: inline-block;
    background: url("../images/sprite.png") -266px -62px no-repeat;
}
.s6_desc{
    /*margin-bottom: 12px;*/
    width: 100%;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    text-align: center;
}
.s6_dreamerShow{
    height: 118px;
    width: 100%;
    padding: 0 50px;
    position: relative;
}
.s6_dermer{
    display: inline-block;
    width: 138px;
    height: 100px;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.s6_userHead{
    width: 68px;
    height: 68px;
    border-radius: 34px;
    opacity: 0.8;
}
.s6_userName{
    position: absolute;
    margin: auto;
    top: 58px;
    left: 0;
    right:0;
    background: url("../images/sprite.png") -397px -63px no-repeat;
    font-size: 14px;
    width: 106px;
    height: 30px;
    color: white;
}
.s6_titleImg2{
    background: url("../images/sprite.png") -120px -62px no-repeat;
    margin-top: 6px;
    width: 120px;
    height: 30px;
    display: inline-block;
}
.s6_desc{
    margin-bottom: 12px;
    width: 100%;
    height: 36px;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
}
.s6_productBlocks{
    width: 920px;
    height: 268px;
    position: relative;
    margin: 0 auto;
}
.s6-productBlock{
    width: 276px;
    height: 268px;
    border: 1px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    margin-left: 25px;
    float: left;
}
.s6-productImgLine{
    width: 100%;
    text-align: center;
    margin-top: 14px;
}
.s6-productTitle{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 0 20px;
    font-weight: 700;
    margin-top: 2px;
    margin-left: -15px;
    color: #fff;
}
.s6-product-linkLine{
    width: 100%;
    text-align: center;
}
.s6-product-link{
    display: inline-block;
    width: 82px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    background-color:#fdab2d;
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
    border-radius: 2px;
}
.s6-product-link:hover{
    color: #fdab2d;
    background-color: #fff;
}
.s6_shareLine{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: #fff;
}
.s6_shareWX{
    margin-left: 8px;
    display: inline-block;
    width: 44px;
    height: 44px;
    background: url("../images/sprite.png") 0 0 ;
    vertical-align: -17px;
}
.s6_shareWX:hover{
    background: url("../images/sprite.png") 0 -48px;
}
.s6_shareWB{
    margin-left: 8px;
    display: inline-block;
    width: 44px;
    height: 44px;
    background: url("../images/sprite.png") -55px 0 ;
    vertical-align: -17px;
}
.s6_shareWB:hover{
    background: url("../images/sprite.png") -55px -48px;
}

/*遮罩层*/
.WX_floor{
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 100;
    background-color: #999;
}
/*微信二维码*/
.WX_window{
    visibility: hidden;
    position: fixed;
    margin: auto;
    left: 0;
    /*top:0;*/
    bottom: 150px;
    right: 0;
    opacity: 1;
    z-index: 101;
    background-color: #fff;
    width: 400px;
    height: 510px;
    border-radius: 15px;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.4);
}
.WX_window_top{
    margin: 0;
    width: 100%;
    height: 78%;
}
.WX_window_top_close{
    color: #636363;
    position: absolute;
    right: 24px;
    top: 28px;
    cursor: pointer;
    font-size: 18px;
    line-height: 1em;
    font-style: normal;
}
.WX_window_top_title{
    margin-top: 6%;
    padding-left: 8%;
    font-size: 20px;
    color: #1AB05F;
}
.WX_window_top_content{
    width: 86%;
    margin-top: 5%;
    margin-left: 7%;
    font-size: 18px;
    color: #000;
    text-indent: 1em;
    overflow: hidden;
}
.WX_window_top_content_p{
    width: 100%;
    height: auto;
    display: inline-block;
}
.WX_window_top_content_desc{
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    height: 48px;
    margin-top: 6px;
    color: #636363;
}
.window_bottom{
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 50px;
    border-top: 1px solid #999;
    cursor: pointer;
    line-height: 40px;
    font-size: 20px;
    color: #636363;
    text-align: center;
}